 

 body { 
 
  background-image: url("font.jpg"); 
  background-size: 100% 100%;
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* ne pas repliter image */
  min-width: 100%;
  min-height: 100%;
 }
 
 .deux{
   float: right;
   padding-right: 90px;
   padding-bottom: 40px;
 }
 .un{
  padding-top: 20px;
  padding-left: 90px;
  padding-bottom: 40px;
}

 .nom{
   padding-top: 30px;
 }
 .formation{
   padding-top: 80px;
 }

 

 h1{
  font-size: medium;
 }
 p, ul{
   font-size: 15px;
 }

 .nom{
  font-size: 30px;
   
 }
 .metier{
  text-align: right;
  color: rgb(189, 141, 96);
 }


 .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  position: absolute;
  border-radius: 15px;
}
 