@media (min-width: 1000px){ 
 
 body { 
  background-color: rgb(159, 185, 183); 
  background-size: 80px;  
 }

img{
  width: 900px;
  height: 1100px;
  z-index: -1;
  position: absolute;
}
.in{
  width: 40px;
  height: 40px;}

 #bloc_page
 {
     width: 900px;
     margin: auto;   
     flex-wrap: wrap; 
 }
 
 .deux{
   float: right;
   padding-right: 90px;
   padding-top: 30px;
 }

 .un{
  padding-top: 100px;
  padding-left: 90px;
  padding-bottom: 40px;
  
}


 .formation{
   padding-top: 100px;
   padding-left: 5Opx;
 }
 .year{
  font-size: 11px;
  font-weight: bold;
 }
 h1{
  font-size: medium;
 }
 p, ul{
   font-size: 15px;
 }

 .nom{
  font-size: 30px;
  padding-top: 100px;
  padding-left: 20px;
   
 }
 .metier{
  text-align: right;
  color: rgb(189, 141, 96);
 }
 .competences{
   padding-top: 30px;
 }
.skills{
  padding-top: 20px;
}
 .interets{
   padding-top: 90px;
 }
.coordonnees{
  padding-top: 80px;
}
a{
  text-decoration: none;
  color: #000;
}
.fa-linkedin {
  padding-left: 50px;
  color: white;
}
 
}

  
   
  @media(max-width: 1000px) {
    
 
 
  img{
    width: 900px;
    height: 3300px;
    z-index: -1;
    position: absolute;
  }
  .in{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: 50px;
  }
 
 body { 
  background-color: rgb(159, 185, 183); 
  background-size: 90px;
  position: absolute;
 }
 .year{
  font-size: 15px;
  font-weight: bold;
 }
section{
  text-align: center;
  width: 900px;
  height: 1700px;
  padding-top: 50px;
  
  
}
.formation{
  display:inline-block;
  padding-bottom: 30px;
  flex-wrap: wrap-reverse;
   

}
.competence{
display:inline-block;

}

.skills{
  display:inline-block;
}
ul{
  text-align: left;
}
.nom{
  font-size: 60px;
  text-align: left;
  padding-left: 240px;
}
.metier{
  color: rgb(189, 141, 96);
  padding-left: 250px;
  font-size: 30px; }
 
 .competences{
  padding-top: 20px;
  padding-bottom: 20px;
}
 
.interets{
  padding-top: 30px;
  padding-bottom: 30px;
}
p, li{
  font-size: 25px;
}
h1{
  font-size: 35px;
}
a{
  text-decoration: none;
  color: #000;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
 

 
}


 
 
 