 
 body { 
  background-color: rgb(159, 185, 183); 
   
 }
img{
  width: 900px;
  height: 1000px;
  z-index: -1;
  position: absolute;
}

 #bloc_page
 {
     width: 900px;
     margin: auto;   
 }
 
 .deux{
   float: right;
   padding-right: 90px;
   padding-top: 30px;
 }

 .un{
  padding-top: 100px;
  padding-left: 90px;
  padding-bottom: 40px;
}

 .nom{
   padding-top: 100px;
 }
 .formation{
   padding-top: 200px;
   padding-left: 5Opx;
 }

 

 h1{
  font-size: medium;
 }
 p, ul{
   font-size: 15px;
 }

 .nom{
  font-size: 30px;
   
 }
 .metier{
  text-align: right;
  color: rgb(189, 141, 96);
 }
 .competences{
   padding-top: 30px;
 }
.skills{
  padding-top: 20px;
}
 .interets{
   padding-top: 110px;
 }
.coordonnees{
  padding-top: 100px;
}
 